
.center {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 100vh;
 }


 .horizontalZentrieren{

   display: flex;
   justify-content: center;
   align-items: center;
   
 }

 .titel{
   font-size: 60px;
   font-weight: bold;
 }

 body{
    background-color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 3%;
 }

 header{
  background-color: #eb4f27;
  color: white;
  padding: 0.3%;
 }
 h1{
  background-color: #eb4f27;
  color: white;
  padding: 22px;
 }

 h2{
  font-size: 20px;
  font-weight: bold;
 }
 h3{
  font-size: 16px;
  font-weight: bold;
 }
 
 
 .container{
  max-height: 300px;
  overflow-y: auto;

 }